<body bgcolor="white" text="black">

  <h1 align="center">メディア情報検索</h1>
  <hr align="center" noshade width="80%"/>
  <div align="center">

    <form method="post" action="search.erb">
      <input type="text" name="KEYWORD" size="15"/>
      <button type="submit" value="検索" class="btn btn-default">検索</button>
    </form>

    <form method="post" action="same.erb">
      <input type="text" name="STD" size="15"/>
      <button type="submit" value="検索" class="btn btn-default">類似検索</button>
    </form>

    <form method="post" action="ppm.erb">
      <input type="text" name="PPM" size="15"/>
      <button type="submit" value="検索" class="btn btn-default">類似度自動計算検索</button>
    </form>

  </div>

  <hr align="center" noshade width="80%"/>

  <div class="container">
    <div class="table-responsive">
      <table class="table table-striped" border="1" align="center">
        <thead>
          <tr>
            <th>ID</th><th>title</th><th>author</th><th>url</th>
          </tr>
        </thead>
        <tbody>
          <% images.each do |i| %>
          <tr>
            <td><%= i.id %></td>
            <td><%= i.title %></td>
            <td><%= i.author %></td>
            <td><%= i.url %></td>
          </tr>
          <% end %>
          <form method="post" action='new'>
            <tr>
              <td><input type="string" name="image_id"></td>
              <td><input type="string" name="title"></td>
              <td><input type="string" name="author"></td>
              <td><input type="text" name="url"></td>
              <td><input type="submit" value="登録"></td>
            </tr>
          </form>
        </tbody>
      </table>
    </div>
  </div>
  <hr align="center" noshade width="80%"/>

  <div align="center">
    <a href = "./"> 戻る </a>
    <a href = "./yurukyara_index.erb"> ゆるキャラページ </a>
  </div>

</body>

</html>
