<body bgcolor="white" text="black">

  <h1 align="center">検索結果</h1>
  <hr align="center" noshade width="80%"/>
  <div align="center">

    <%# pagerankが高いものからソートする %>
    <% ans = Hash.new { |hash, key| hash[key] = {} } %>
    <% for i in 0..7 %>
    <%   ans[i] = yurukyaras[i].pagerank %>
    <% end %>

    <%# 距離が近い順にソートする %>
    <% ans_s = ans.sort{|(k1, v1), (k2, v2)| v2 <=> v1 } %>
    <% sorted_ids = ans_s.map(&:first) %>

    <%# 結果を表示する %>
    <% sorted_ids.each.with_index do |id,index| %>
    <p> <%=  index + 1%>番目に高いです</p>
    <%= p Yurukyara.find(id + 1).pagerank %>
    <img src = "<%= Yurukyara.find(id + 1).url %>" width="300"><br>
    <% end %>

    <div align = "center">
      <a href = "./"> 戻る </a>
    </div>

  </body>
  </html>
